.loader__section {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between !important;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/webp/back__loader.webp");
  background-position: center center;
  background-size: 100vh 100%;
}
.img_load_box {
  position: relative;
  width: 300px;
  height: 300px;
}
.img_letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.imgLoadCircle {
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
}

.loader__title {
  margin-bottom: 43px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

@keyframes spin {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
