.counter_container {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 105px;
  height: 34px;
  background-image: url("../../../assets/points-window.png");
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.counter {
  position: absolute;
  left: 50%;
  transform: translate(-20%, 45%);
  font-weight: 700;
  font-size: 14px;
  line-height: 123%;
  letter-spacing: 0.02em;
  color: #fff;
}
