.leaderboard__item {
  padding: 7px 15px;
  display: flex;
  align-items: center;
  color: #fff;
}

.leaderboard__avatar {
  margin-right: 11px;
}

.leaderboard__name {
  margin-right: auto;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.leaderboard__coins {
  margin-right: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
