.sliding__block {
  position: relative;
  padding: 20px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/png/back__friends.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.name_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.name_title_not {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.sliding_product_btn_buy {
  margin-top: 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  // padding: 6px 14px;
  width: 139px;
  height: 35px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #3d3bff;

  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.sliding_product_btn_promo {
  margin-top: 30px;
  border-radius: 100px;
  border: none;
  padding: 0;
  width: 281px;
  height: 60px;
  background: #3d3bff;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
}
