.task_title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.task_item {
  padding: 20px 15px;
  min-height: 185px;
  min-width: 345px;
  display: flex;
  color: #fff;
  background-image: url("../../../assets/webp/catalog__item.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.task_upper {
  align-self: flex-end;
}

.task_price {
  margin-bottom: 19px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}

.task_info {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.task_down {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.task_img {
  margin-bottom: 2px;
}

.task_profession {
  align-self: flex-end;
  font-size: 13.11px;
  font-weight: 400;
  line-height: 18.16px;
  letter-spacing: -0.07868421077728271px;
}
