.page__title {
  margin: 0 auto 16px;
  padding-bottom: 4px;
  width: max-content;
  position: relative;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  color: #fff;
}

.page__label {
  margin: 0 auto 30px;
  font-size: 12px;
  line-height: 13.2px;
  text-align: center;
  color: #ffffff99;
}

.page__person {
  margin-bottom: 25px;
  padding: 22px 15px;
  width: 100%;
  min-height: 116px;
  display: flex;
  align-items: center;
  border-radius: 36px;
  color: #fff;
  background-color: #3d3bff;
  border: none;
  position: relative;
}

.page__avatar {
  width: 73px;
  height: 73px;
  margin-right: 13px;
}

.page__info {
  margin-right: auto;
  max-width: 45%;
}

.page__name {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 17.21px;
  letter-spacing: 0.02em;
  text-align: start;
  color: #fff;
}

.page__coins {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;

  svg {
    width: 21px;
    height: 21px;
  }
}

.page__place {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-shadow: 0 4px 4px #00000040;
  color: #fff;

  &::before {
    content: "#";
    position: absolute;
    font-size: 22.9px;
    line-height: 22.9px;
    left: -25px;
    top: 17px;
  }
}

.page__image {
  position: relative;
}

.page__gift {
  padding: 0;
  position: absolute;
  top: -10px;
  right: 5px;
  border: none;
  outline: none;
  background: none;

  svg {
    width: 24px;
    height: 24px;
  }
}

.fz {
  font-size: 14px;
}
