.catalog__section {
  overflow: hidden auto;
  height: calc(100% - 5em);
}

.catalog__header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.reverse {
  display: flex;
  align-items: center;
  gap: 11px;
  background-image: url("../../assets/webp/coin__bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  span {
    padding: 2px 0 0 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.21px;
    letter-spacing: 0.02em;
    color: #fff;
  }
}

.catalog__button {
  padding: 6px 14px;
  outline: none;
  border: none;
  border-radius: 15px;
  color: #191e26;
  background-color: #dbe2ff;
}

.catalog__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.catalog__list {
  overflow: hidden auto;
}

.category__caption {
  margin: 0 auto;
  padding-bottom: 4px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;
  max-width: max-content;

  &::before {
    content: "";
    max-width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(89.92deg, #3d3bff -12.95%, #ffffff 186.7%);
  }
}

.catalog__title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
