.falling_flask {
  width: 30px;
  height: 40px;
}

.btn_flask {
  position: absolute;
  top: -50px;
  width: 30px;
  height: 40px;
  border: none;
  padding: 0;
  animation-name: fall;
  animation-timing-function: linear;
  background: none;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
