.btn_blue {
  position: absolute;
  top: -50px;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  animation-name: fall;
  animation-timing-function: linear;
  background: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.falling_letter_blue {
  width: 40px;
  height: 40px;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
