.sliding__image {
  margin-bottom: 42px;
}

.sliding__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 17.21px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.sliding__label {
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

.sliding__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
