.catalog__item {
  margin-bottom: 20px;
  padding: 20px 15px;
  min-height: 185px;
  min-width: 345px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-image: url("../../assets/webp/catalog__item.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;

  &:first-child,
  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__upper {
  max-width: 240px;
  align-self: flex-end;
}

.catalog__price {
  position: absolute;
  top: 30%;
  margin-bottom: 19px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
}

.catalog__info {
  position: absolute;
  top: 65%;
  width: 235px;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: left;
  word-wrap: break-word;
}

.catalog__down {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.catalog__img {
  margin-bottom: 2px;
  width: 147px;
  height: 147px;
  position: absolute;
  top: -13px;
  right: 0;
}

.catalog__profession {
  position: absolute;
  bottom: 5%;
  right: 7%;
  max-width: 100px;
  align-self: flex-end;
  text-align: center;
  font-size: 13.11px;
  font-weight: 400;
  line-height: 18.16px;
  letter-spacing: -0.07868421077728271px;
  color: #fff;
}

.catalog__prof {
  position: absolute;
  bottom: 5%;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.16px;
  letter-spacing: -0.07868421077728271px;
  color: #fff;
}

.catalog_compl_btn {
  position: absolute;
  top: 30%;
  border-radius: 30px;
  border: 1px solid #dbe2ff;
  padding: 6px 14px;
  width: 145px;
  height: 30px;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #dbe2ff;
  opacity: 0.7;
}
