.sliding__button {
  height: 35px;
  padding: 6px 57px;
  border: 1px solid #ffffff33;
  border-radius: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #fff;

  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #3d3bff;
}

.sliding__block {
  padding: 60px 80px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/png/back__friends.png");
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
}

.sliding__image {
  margin-bottom: 47px;
}

.sliding__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 17.21px;
  letter-spacing: 0.02em;
}

.sliding__label {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.count_coin {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
