.friends__section {
  height: 110%;
  overflow: hidden;
}

.friends__title {
  margin-bottom: 30px;
}

.friends__invite {
  margin-bottom: 25px;
  padding: 22px;
  min-height: 148px;
  border-radius: 36px;
  color: #191e26;
  background-color: #dbe2ff;
  background-image: url("../../assets/png/friends__invite.png");
  background-repeat: no-repeat;
  background-position: right 12px bottom 10px;
  background-size: 95px 95px;
}

.invite__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 17.21px;
  letter-spacing: 0.02em;
}

.invite__label {
  margin-bottom: 20px;
  max-width: 207px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
}

.invite__button {
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #191e26;
  border: 1px solid #191e26;
  border-radius: 30px;
  background-color: transparent;
}

.page__list {
  padding: 15px;
  padding-bottom: 60px;
  height: 100%;
  color: #fff;
  border-radius: 36px;
  background-color: #000;
  position: relative;
  overflow: hidden auto;
  border: 1px solid #fff;
}
