.sliding__not__block {
  padding: 43px 65px 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliding__not__title {
  margin-bottom: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.sliding__not__button {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  background-color: #3d3bff;
  border: 1px solid #ffffff33;
}
