.sliding__not__block {
  height: 100%;
  padding: 43px 45px 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/png/back__friends.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.sliding__not__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.sliding__not__button {
  width: 155px;
  height: 40px;
  // padding: 6px 57px;
  border: 1px solid #ffffff33;
  border-radius: 15px;
  background-color: #3d3bff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #fff;

  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #3d3bff;
}
