.calendar__block {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar__list {
  margin-bottom: 38px;
  padding-left: calc(100% - 25rem);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(31, 111px);
  grid-template-rows: auto;
  gap: 5px;
  overflow-x: auto;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
  }
}

.calendar__title {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 15px;
  width: calc(100% - 3em);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  color: #fff;
}

.calendar__info {
  margin: 0 auto;
  margin-bottom: auto;
  padding: 22px 18px;
  width: calc(100% - 9em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  background-color: #000000;
  border: 1px solid #fff;
}

.calendar__date {
  margin-bottom: 30px;
  padding-bottom: 4px;
  position: relative;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(89.92deg, #3d3bff -12.95%, #ffffff 186.7%);
  }
}

.calendar__prize {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.calendar__button {
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  border: 1px solid #ffffff33;
  border-radius: 15px;
  background-color: #3d3bff;
}

@media (max-width: 550px) {
  .calendar__list {
    padding-left: calc(100% - 17rem);
  }
}

.calendar__bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    width: 51px;
    height: 51px;
  }
}
