.sliding__button {
  padding: 6px 57px;
  border: 1px solid #ffffff33;
  border-radius: 15px;
  background-color: #3d3bff;
}

.sliding__block {
  padding: 60px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/png/back__friends.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.sliding__image {
  margin-bottom: 47px;
}

.sliding__title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.sliding__label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.sliding__span {
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #ffffff99;
}

.sliding__money {
  padding-top: 5%;
  margin-bottom: auto;
  position: relative;
}

.sliding__coins {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -30%);
  font-size: 37.06px;
  font-weight: 700;
  line-height: 45.55px;
  letter-spacing: 0.02em;
}

@media (max-width: 340px) {
  .sliding__coins {
    font-size: 25.06px;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%);
  }
}
