.footer {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 450px;
  width: 100%;
  background-image: url("../../assets/webp/footer__bg.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  z-index: 20;
}

.footer__list {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__home {
  display: block;
}

.footer__button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
}

.upper {
  padding-top: 20px;
  width: 55px;
  height: 69px;
}

.footerNav__list {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #00000059;
  backdrop-filter: blur(109px);
  position: absolute;
  top: calc(100% - 22em) !important;
  // border-width: 0.21px;
  // border-style: solid;
  // border-image-source: linear-gradient(
  //   50.74deg,
  //   rgba(255, 255, 255, 0.2) 13.55%,
  //   rgba(255, 255, 255, 0.8) 51.18%,
  //   rgba(255, 255, 255, 0.2) 89.57%
  // );
  // border-image-slice: 1;
  border-radius: 19.73px;
}

.popover__block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover__list {
  padding: 20px 12px;
  max-height: 269px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% - 26em);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: #ffffff99;
  background: #00000059;
  border-radius: 19.73px;
  backdrop-filter: blur(109px);

  &::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
    width: 0;
  }
}

.popover__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.home__task {
  fill: #fff;
}

.footer__game {
  padding: 0;
  background: none;
  outline: none;
  border: none;
}

.popover__btn_block {
  position: relative;
}

.popover__button {
  position: absolute;
  top: calc(100% - 22em);
}

.popover__next_button {
  background: none;
  border: none;
  outline: none;

  img {
    transform: rotate(180deg);
  }
}
