.task__section {
  height: calc(100% - 4em);
  overflow: auto;
}

.tasks_list {
  padding-bottom: 20px;
}

.task_title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.task__item {
  position: relative;
  padding: 20px 15px;
  min-height: 185px;
  min-width: 345px;
  margin-bottom: 20px;
  color: #fff;
  background-image: url("../../assets/webp/task__item.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.coins_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task_name {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
}

.coins {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 110px;
  height: 110px;
}

.task_heading {
  margin: 30px auto;
  padding-bottom: 4px;
  max-width: 212px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  text-align: center;
  position: relative;
  color: #fff;

  &::before {
    content: "";
    max-width: 212px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(89.92deg, #3d3bff -12.95%, #ffffff 186.7%);
  }
}
