.falling_letters_container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: url("../../assets/background-game.png");
  background-position: center;
  background-size: cover;
}

.img_open_box {
  position: absolute;
  width: 100%;
  bottom: -2%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 4;
}
.logo {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
}
