.onboarding__list {
  flex: 1;
}

.onboarding__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.onboarding__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.onboarding__info {
  padding: 56px 27px 34px;
  max-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  background-image: url("../../assets/webp/onboarding/onboarding__blur.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  z-index: 5;
}

.onboarding__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
}

.onboarding__label {
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.onboarding__button {
  height: 35px;
  padding: 6px 49px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #fff;

  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px rgba(255, 255, 255, 0.25);
  background: #3d3bff;
}

.onboarding__skip {
  background: none;
  outline: none;
  border: none;
}

.onboarding__progress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
