.btn {
  position: absolute;
  top: -50px;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  animation-name: fall;
  animation-timing-function: linear;
  background: none;
}

.falling_letter_white {
  width: 33px;
  height: 40px;
  margin: 0 auto;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
